            #bilder div.gallery img {max-height:80px;}
            #bilder img {max-width:100%;}
            div.gallery {margin:0; overflow:hidden; white-space:nowrap; position:relative;}
            div.gallery > div {margin:0;}
            div.gallery a.scroll {display:inline-block; width:40px; height:160px; position:absolute; top:0; background:#ffffff; opacity:0.6;}
            div.gallery a.scroll.left {left:0;}
            div.gallery a.scroll.right {right:0;}
            div.gallery a.scroll span {position:relative; top:71px; left:11px;}
            
            #bilder div.gallery a.scroll {width:30px; height:80px}
            #bilder div.gallery a.scroll span {position:relative; top:31px; left:6px;}
            
            #humler img {max-width:100%;}
            .art {font-style:italic;}
                        
            div.field > div.field-label {float:left; font-weight:bold; color:#9a8c7d;}

